html,
body {
    font-family: Arial, sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
}

.container {
    height: 100%;
    position: relative;
}

input {
    font-size: 12px;
}

#header {
    display: inline-block;
    color: black;
}

hr {
    background: #D0D7D9;
    height: 1px;
    margin: 20px 0 20px 0;
    border: none;
}

/* label for search filter */
#searchFilter {
    color: white;
}

/* search function container */
#searchFunction {
    padding: 20px;
}

/* google map */
#map {
    bottom:0px;
    height: 100%;
    left: 0px;
}

#pano {
    width: 200px;
    height: 200px;
}

.text {
    font-size: 12px;
}

/* fix navbar to top of page */
.fixed {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 40;
    background-color: white;
}

/* google maps data info*/
.data{
    color: white;
    padding-bottom: 10px;
}
